@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}
